# TAHMİNE DAYALI(RANDOM FOREST) DEĞER ATAMA YÖNTEMLERİ(HEPSİ MAKİNE ÖĞRENMESİ ALGORİTMALARINA GÖRE DEĞER DOLDURMADIR)

In [21]:
import seaborn as sns
import missingno as msno
import numpy as np
import pandas as pd
df=sns.load_dataset("titanic")
df=df.select_dtypes(include=["float64","int64"])

In [10]:
df.head()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [11]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [12]:
!pip install ycimpute

Requirement already satisfied: ycimpute in c:\users\fatih emre\anaconda3\lib\site-packages (0.2)
Requirement already satisfied: numpy>=1.10 in c:\users\fatih emre\anaconda3\lib\site-packages (from ycimpute) (1.22.4)
Requirement already satisfied: torch>=1.1.0 in c:\users\fatih emre\anaconda3\lib\site-packages (from ycimpute) (2.1.2)
Requirement already satisfied: scipy in c:\users\fatih emre\anaconda3\lib\site-packages (from ycimpute) (1.7.3)
Requirement already satisfied: six in c:\users\fatih emre\anaconda3\lib\site-packages (from ycimpute) (1.16.0)
Requirement already satisfied: scikit-learn>=0.17.1 in c:\users\fatih emre\anaconda3\lib\site-packages (from ycimpute) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\fatih emre\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\fatih emre\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute) (1.1.0)
Requirement already satisfied: typing-extensions in c:\users\fatih emre\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (4.1.1)
Requirement already satisfied: networkx in c:\users\fatih emre\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (2.7.1)
Requirement already satisfied: filelock in c:\users\fatih emre\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (3.6.0)
Requirement already satisfied: sympy in c:\users\fatih emre\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (1.10.1)
Requirement already satisfied: fsspec in c:\users\fatih emre\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (2022.2.0)
Requirement already satisfied: jinja2 in c:\users\fatih emre\anaconda3\lib\site-packages (from torch>=1.1.0->ycimpute) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\fatih emre\anaconda3\lib\site-packages (from jinja2->torch>=1.1.0->ycimpute) (2.0.1)
Requirement already satisfied: mpmath>=0.19 in c:\users\fatih emre\anaconda3\lib\site-packages (from sympy->torch>=1.1.0->ycimpute) (1.2.1)

# KNN(K EN YAKIN KOMŞULUK) YÖNTEMİ İLE DOLDURMA

In [13]:
from ycimpute.imputer import knnimput

In [14]:
var_names=list(df)

In [15]:
n_df=np.array(df)

In [17]:
n_df[0:10]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583],
       [ 0.    ,  1.    , 54.    ,  0.    ,  0.    , 51.8625],
       [ 0.    ,  3.    ,  2.    ,  3.    ,  1.    , 21.075 ],
       [ 1.    ,  3.    , 27.    ,  0.    ,  2.    , 11.1333],
       [ 1.    ,  2.    , 14.    ,  1.    ,  0.    , 30.0708]])

In [19]:
n_df.shape

(891, 6)

In [20]:
#k burada komşuluk sayısını ifade eder
dff=knnimput.KNN(k=4).complete(n_df)

Imputing row 1/891 with 0 missing, elapsed time: 0.115
Imputing row 101/891 with 0 missing, elapsed time: 0.118
Imputing row 201/891 with 0 missing, elapsed time: 0.119
Imputing row 301/891 with 1 missing, elapsed time: 0.120
Imputing row 401/891 with 0 missing, elapsed time: 0.121
Imputing row 501/891 with 0 missing, elapsed time: 0.122
Imputing row 601/891 with 0 missing, elapsed time: 0.123
Imputing row 701/891 with 0 missing, elapsed time: 0.124
Imputing row 801/891 with 0 missing, elapsed time: 0.125

In [22]:
type(dff)

numpy.ndarray

In [23]:
dff=pd.DataFrame(dff,columns = var_names)

In [25]:
type(dff)

pandas.core.frame.DataFrame

In [27]:
#boşlukların bu şekilde doldurulduğunu görüyoruz.
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

# BİR DE RANDOM FOREST İLE DOLDURMA YAPALIM

In [44]:
import seaborn as sns
import missingno as msno
import numpy as np
import pandas as pd
df=sns.load_dataset("titanic")
df=df.select_dtypes(include=["float64","int64"])

In [45]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [46]:
var_names=list(df)

In [47]:
n_df=np.array(df)

In [48]:
from ycimpute.imputer import iterforest
dff=iterforest.IterImput().complete(n_df)

AttributeError: module 'ycimpute.imputer.iterforest' has no attribute 'IterImput'

In [49]:
dff=pd.DataFrame(dff,columns = var_names)

In [50]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

# EM ALGORİTMASI İLE BOŞLUKLARI DOLDURMA

In [51]:
import seaborn as sns
import missingno as msno
import numpy as np
import pandas as pd
df=sns.load_dataset("titanic")
df=df.select_dtypes(include=["float64","int64"])

In [52]:
from ycimpute.imputer import EM
var_names=list(df)

In [53]:
n_df=np.array(df)

In [54]:
dff=EM().complete(n_df)

In [60]:
dff=pd.DataFrame(dff, columns = var_names)

In [64]:
dff.isnull().sum()

survived    0.0
pclass      0.0
age         0.0
sibsp       0.0
parch       0.0
fare        0.0
dtype: float64